cmake_minimum_required(VERSION 3.16)

project(%ProjectName%)
enable_language(OBJC ASM)

set(APP_RESOURCES
%AppResources%
)

add_executable(
    %ProjectName%
    %MainSource%
    runtime.h
    runtime.m
    ${APP_RESOURCES}
)

%Defines%

include_directories("%MonoInclude%")

if(FORCE_AOT)
    include(${CMAKE_CURRENT_LIST_DIR}/aot_libraries.cmake)

    set_target_properties(AOTLibraries PROPERTIES
        XCODE_ATTRIBUTE_SUPPORTS_MACCATALYST "YES"
    )
endif()

# grab all of the symbols from libmonosgen and libaot_modules
# we want to exclude them from the symbols in runtime_one and runtime_two
add_custom_command(
    OUTPUT symbols.txt
    COMMAND test -f symbols.txt && rm symbols.txt
    COMMAND ./gather-symbols.sh ../publish/libmonosgen-2.0.a
    COMMAND ./gather-symbols.sh $<TARGET_FILE:AOTLibraries>
    VERBATIM
    WORKING_DIRECTORY ${CMAKE_CURRENT_SOURCE_DIR}
    COMMENT "Building symbol exclusion list"
)
add_custom_target(
    symbol_target
    DEPENDS AOTLibraries symbols.txt
)

add_library(
    runtime_one SHARED 
    runtime_one.m
    %AotModulesSource%
)
add_dependencies(runtime_one symbol_target)
target_link_libraries(
    runtime_one
    AOTLibraries
    "-framework Foundation"
    "-framework Security"
    "-framework UIKit"
    %FrameworksToLink%
    "-lz"
    "-lc++"
    "-liconv"
    "-Wl,-unexported_symbols_list symbols.txt"
    %NativeLibrariesToLink%
)

set_target_properties(runtime_one PROPERTIES
    FRAMEWORK TRUE
    FRAMEWORK_VERSION C
    MACOSX_FRAMEWORK_IDENTIFIER net.dot.runtime_one
)

set_target_properties(%ProjectName% PROPERTIES
    XCODE_ATTRIBUTE_SUPPORTS_MACCATALYST "YES"
)

set_target_properties(%ProjectName% PROPERTIES
    MACOSX_BUNDLE TRUE
    MACOSX_BUNDLE_INFO_PLIST ${CMAKE_CURRENT_SOURCE_DIR}/Info.plist
    XCODE_ATTRIBUTE_ENABLE_BITCODE "NO"
    XCODE_ATTRIBUTE_DEAD_CODE_STRIPPING "NO"
    XCODE_EMIT_EFFECTIVE_PLATFORM_NAME "YES"
    RESOURCE "${APP_RESOURCES}"
)

set(HARDENED_RUNTIME
%HardenedRuntime%
)

set(HARDENED_RUNTIME_USE_ENTITLEMENTS_FILE
%HardenedRuntimeUseEntitlementsFile%
)

if("${HARDENED_RUNTIME}")
  set_target_properties(%ProjectName% PROPERTIES XCODE_ATTRIBUTE_ENABLE_HARDENED_RUNTIME "YES")
  if("${HARDENED_RUNTIME_USE_ENTITLEMENTS_FILE}")
    set_target_properties(%ProjectName% PROPERTIES XCODE_ATTRIBUTE_CODE_SIGN_ENTITLEMENTS "app.entitlements")
    add_custom_command(
      TARGET %ProjectName% POST_BUILD
      COMMAND if test \"$CODE_SIGN_IDENTITY\"\; then codesign -fs \"$CODE_SIGN_IDENTITY\" $CODESIGNING_FOLDER_PATH/Contents/Resources/*.dylib\; fi
      )
  endif()
endif()

# FIXME: `XCODE_ATTRIBUTE_DEAD_CODE_STRIPPING` should not be NO

if(FORCE_AOT)
    target_link_libraries(
        %ProjectName%
        runtime_one
        "-framework Foundation"
        "-framework Security"
        "-framework UIKit"
        %FrameworksToLink%
        "-lz"
        "-lc++"
        "-liconv"
    )
else()
    target_link_libraries(
        %ProjectName%
        "-framework Foundation"
       "-framework Security"
        "-framework UIKit"
        %FrameworksToLink%
        "-lz"
        "-lc++"
        "-liconv"
        %NativeLibrariesToLink%
    )
endif()
